.mainFlag {
    /* */
    height: 150px;
    width: 150px;
    z-index: 0;
    position: relative;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    background-color: #bbb;
    animation-name: flagAnimationReverse;
    animation-duration: 0.2s;
}

.mainFlag:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 52%;
    left: -1px;
    /*width of border*/
    bottom: -30px;
    z-index: -1;
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    background-color: #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.mainFlag:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 52%;
    right: -1px;
    /*width of border*/
    bottom: -30px;
    z-index: -1;
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    background-color: #bbb;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.mainFlag:hover {
    /*height: 200px;*/
    height: 250px;
    animation-name: flagAnimation;
    animation-duration: 0.5s;
}

@keyframes flagAnimation {
    from {
        height: 150px;
    }

    to {
        height: 250px;
    }
}

@keyframes flagAnimationReverse {
    from {
        height: 250px;
    }

    to {
        height: 150px;
    }
}

.image {
    z-index: 1;
}