.mainBox {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    margin: 0 !important;
    max-width: 100%;
}

@media (max-width: 768px) {
    .mainBox {
        position: relative;
    }
}

.fake {
    position: relative;
    margin: auto;
    padding: 20px;
    height: auto;
}