.mainBox {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    max-width:  100%;
    background-color: rebeccapurple;
}

.fake {
    position: relative;
    margin: auto;
    padding: 20px;
    height: 50vh;
}
